
$--color-primar: '#2C78C7';
$--color-succes: '#43A821';
$--color-warnin: '#C3841C';
$--color-inf: '#999999';
$--color-text-placeholde: '#999999';
$--color-text-regula: '#333333';
$--color-text-primar: '#000000';
$--color-text-secondar: '#666666';
$--color-danger: '#DB543A';
$--font-size-large: '14px';
$--font-size-medium: '13px';
$--font-size-extra-large: '16px';
$--font-size-base: '13px';
$--font-size-small: '12px';
$--font-weight-primary: 'normal';
$--font-line-height-primary: '20px';
$--button-padding-vertical: '8px';
$--button-padding-horizontal: '12px';
$--button-default-font-color: '#333333';
$--table-header-font-color: '$--color-text-primary';
$--button-default-border-color: '#CDCDCD';
$--button-border-radius: '$--border-radius-small';
$--button-font-size: '13px';
$--button-font-weight: 'normal';
$--button-medium-font-size: '13px';
$--radio-input-border-color: '$--color-info';
$--checkbox-font-size: '13px';
$--input-border-radius: '$--border-radius-zero';
$--radio-input-background-color: '#EFEFEF';
$--radio-input-border-radius: '$--border-radius-circle';
$--checkbox-background-color: '#DCDFE6';
$--transfer-panel-header-background-color: '$--color-white';
$--transfer-panel-width: '300px';
$--transfer-item-height: '36px';
$--input-height: '30px';
$--badge-background-color: '$--color-danger';
$--tree-node-hover-background-color: '#B2E5FE';
$--table-row-hover-background-color: '#B2E5FE';
$--button-medium-padding-horizontal: '10px';
$--checkbox-border-radius: '$--border-radius-zero';
$--checkbox-font-weight: 'normal';
$--transfer-panel-footer-height: '48px';
$--transfer-panel-body-height: '300px';
$--transfer-filter-height: '36px';
$--tag-info-color: '$--color-primary';
$--tag-primary-color: '$--color-text-regular';
$--pagination-button-width: '36px';
$--message-info-font-color: '$--color-primary';
$--messagebox-error-font-size: '14px';
$--dialog-title-font-size: '16px';
$--tooltip-border-color: '$--color-primary';
$--card-padding: '16px';
$--collapse-header-font-size: '16px';
$--avatar-text-font-size: '13px';
$--avatar-icon-font-size: '16px';
$--alert-icon-large-size: '24px';
$--button-medium-border-radius: '$--border-radius-small';
$--button-medium-padding-vertical: '7px';
$--button-small-padding-vertical: '6px';
$--button-small-padding-horizontal: '10px';
$--button-mini-padding-vertical: '6px';
$--button-mini-padding-horizontal: '10px';
